body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.switch {
    align-self: flex-end;
    margin: 0.9375rem;
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    /* font-size: 1rem; */
    padding: 0.1875rem;
}

.dark,
.dark * {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
}

.footer-area {
    padding: 20px;
    background-color: #252525;
    text-align: center;
    color: #ffffff;
} 

.footer-area i:hover {
    color: #c32aa3;
    }
.footer-area c:hover {
    color: #0082c9;
    }

.footer-area t:hover {
    color: #1dcaff;
    }
.footer-area f:hover {
    color: #3B5998;
    }
.footer-area l:hover {
    color: #4875B4;
    }
.footer-area e:hover {
    color: #606060;
    }

.footer-social-widget {
    margin-top: 30px;
}

.footer-social-widget > a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 30px;
}

.footer-social-widget > a:hover,
.footer-social-widget > a:focus {
    color: rgba(255, 255, 255, 1);
}

.footer-social-widget > a:last-child {
    margin-right: 0;
}