body{

    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #5e5e5e;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.dark,
.dark * {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
      
}

.footer-area {
    padding: 20px;
    background-color: #252525;
    text-align: center;
    color: #ffffff;
}

        .footer-area i:hover {
            color: #c32aa3;
        }
        .footer-area c:hover {
            color: #0082c9;
        }
        
        .footer-area t:hover {
            color: #1dcaff;
        }
        .footer-area f:hover {
            color: #3B5998;
        }
        .footer-area l:hover {
            color: #4875B4;
        }
    .footer-area e:hover {
        color: #606060;
    }

.footer-social-widget {
    margin-top: 30px;
}

.footer-social-widget > a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 30px;
}

.footer-social-widget > a:hover,
.footer-social-widget > a:focus {
    color: rgba(255, 255, 255, 1);
}

.footer-social-widget > a:last-child {
    margin-right: 0;
}

p {
    background: #7f7fd5;
    background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
}

.scoreboardTable tr td {
    height: 25px;
}
.scoreboardTable {
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
}
.scoreboardTableHeaderRow {
    color: rgb(44, 110, 235);
    font-weight: bold;
    height: 50px;
}

